# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.ini
desktop.ini
*.pyc
# Environments

.venv/
venv/
ENV/

# VSCode
.vscode/

# Jupyter / Colab
.ipynb_checkpoints/

# Mac / Linux
.DS_Store
Thumbs.db

# Alembic
alembic.ini
migrations/versions/*.py

# Pytest
.cache/

# Logs
*.log

# MyPy
.mypy_cache/

#model
*.pth
*.pt
#img
*.jpg

#secrets
secrets/
/secrets
*.json
.json

# Editable Install Metadata
*.egg-info/

# Conda Environment Cache
.conda/

# User Uploads (임시 파일)
uploads/