# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.ini
desktop.ini
*.pyc
# Environments

.venv/
venv/
ENV/
.env

# VSCode
.vscode/
.idea/

# Jupyter / Colab
.ipynb_checkpoints/

# Mac / Linux
.DS_Store

# Alembic
alembic.ini
migrations/versions/*.py

# Pytest
.cache/

# Logs
*.log


/secrets
# MyPy
.mypy_cache/


#model
*.pth
*.pt
#img
*.jpg

# Secrets / Credentials - [매우 중요!]
secrets/

# Editable Install Metadata
*.egg-info/

# User Uploads (임시 파일)
uploads/

# Conda Environment Cache
.conda/

# Operating System Files
.DS_Store
Thumbs.db