# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.ini
desktop.ini
*.pyc
# Environments
/cloud_functions_sample
.venv/
venv/
ENV/
*.log
# VSCode
.vscode/

# Jupyter / Colab
.ipynb_checkpoints/

# Mac / Linux
.DS_Store
Thumbs.db

# Alembic
alembic.ini
migrations/versions/*.py

# Pytest
.cache/

# Logs
*.log

# scriptts
scripts/

# MyPy
.mypy_cache/

#model
*.pth
*.pt
#img
*.jpg

#secrets

/secrets

# Editable Install Metadata
*.egg-info/

# Conda Environment Cache
.conda/

# User Uploads (임시 파일)
uploads/


.env
